
.registro-container {
    font-family: Arial, sans-serif;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .registro-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .registro-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-group {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #039A7F;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #039A7F;
  }
  