.resultados-container {
    padding: 20px;
  }
  
  .resultados-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .resultados-actions {
    display: flex;
    gap: 10px;
  }
  
  .resultados-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  }
  
  .resultados-content h3 {
    margin-top: 20px;
    color: #333; /* Puedes ajustar este color según tu paleta de colores */
  }
  
  .resultados-content p {
    background-color: #f0f0f0; /* Color de fondo para los párrafos */
    padding: 10px;
    margin-top: 10px;
  }