.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

.layout-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  width: 100vw;
}

.layout-container.login{
  display: block;
  
}


.main-content {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
}